.idea/
*.iml
target/
/*/target/

*.project
*/*.project
*.classpath
/*/*.classpath
/*/*/*.classpath
*.settings
*/.settings
/*/.settings
/*/*/.settings
logs
aiaf-sdk-extension.iml
.flattened-pom.xml
*.db
/*/*.mv.db

*.DS_Store
